<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="myregressiontestcases">
  <test thread-count="5" name="Test">
    <classes>
    <class name="mycompany.tests.LoginTests"/>
    <class name="mycompany.tests.LogoutTests"/>
    <class name="mycompany.tests.EmployeeTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
